/* 引入网络字体：Poppins */
@import url("http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

*{
    /* 初始化 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 设置字体 */
    font-family: "Poppins";
}

body{
    margin-top: 10px;
    /* 弹性布局 水平+垂直居中 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #110101;
}

/* 给背景增加两个渐变圆 */
body::before{
    content: "";
    /* 绝对定位 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    /* 渐变背景 */
    background: linear-gradient(#2193b0,#6dd5ed);
    /* 将元素剪切微一个圆形【30%表示圆的直径】【right 70%表示圆心位置】 */
    clip-path: circle(30% at right 70%);
}


.container{
    margin-top: 10px;
    padding: 1px 1px 1px 1px;
    height: 500px;
    position: relative;
    /* 弹性布局 水平+垂直居中 */    
    display: flex;
    justify-content: center;
    align-items: center;
    /* 让弹性盒元素在必要的时候拆行 */
    flex-wrap: wrap;
    z-index: 1;
}

.container .card{
    /* 相对定位 */
    position: relative;
    height: 400px;
    width: 280px;
    background-color: rgba(255, 254, 255,0.1);
    padding-top: 10px;
    margin: 10px;
    border-radius: 15px;
    /* 阴影 */
    box-shadow: 20px 20px 50px rgba(0, 0, 0,0.5);
    /* 溢出隐藏 */
    overflow: hidden;
    /* 弹性布局 水平+垂直居中 */    
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 254, 255,0.5);
    border-left: 1px solid rgba(255, 254, 255,0.5);
    /* 背景模糊 */
    backdrop-filter: blur(5px);
}

.container .card .content{
    padding: 20px;
    text-align: center;
    /* 默认下移+隐藏 */
    transform: translateY(100px);  
    opacity: 0;  
    transition: 0.5s;
}

.container .card:hover .content{
    /* 鼠标移入，上移+显示 */
    transform: translateY(0);    
    opacity: 1;
}

.container .card .content h2{
    position: absolute;
    top: -80px;
    right: 25px;
    font-size: 128px;
    color: rgba(34, 30, 34, 0.5);
}

.container .card .content h3{
    font-size: 28px;
    color: #000;
}

.container .card .content p{
    font-size: 16px;
    color: #000;
    font-weight: 300;
    margin: 10px 0 15px 0;
}

.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0,0.2);
}
/* 这里要让玻璃效果更加逼真，需要用到一个JS库：vanilla-tilt.js */