<!-- 尾部开始 -->
<div class="foot">
    <div class="footer-con">
        <div class="foot-links" style="margin-right: 20px">
            <h2 class="foot-con-tit">友情链接</h2>
            <ul class="foot-links-list">
                <li>
                    <a href="http://www.china-railway.com.cn/" target="_blank" title="中国国家铁路集团有限公司"
                        aria-label="中国国家铁路集团有限公司">
                        <img src="https://kyfw.12306.cn/otn/resources/images/link05.png" alt="中国国家铁路集团有限公司"
                            title="中国国家铁路集团有限公司">
                    </a>
                </li>
                <li>
                    <a href="http://www.china-ric.com/" target="_blank" title="中国铁路财产保险自保有限公司"
                        aria-label="中国铁路财产保险自保有限公司">
                        <img src="https://kyfw.12306.cn/otn/resources/images/link02.png" alt="中国铁路财产保险自保有限公司"
                            title="中国铁路财产保险自保有限公司">
                    </a>
                </li>
                <li>
                    <a href="http://www.95306.cn/" target="_blank" title="中国铁路95306网" aria-label="中国铁路95306网">
                        <img src="https://kyfw.12306.cn/otn/resources/images/link03.png" alt="中国铁路95306网"
                            title="中国铁路95306网">
                    </a>
                </li>
                <li>
                    <a href="http://www.95572.com/" target="_blank" title="中铁快运股份有限公司" aria-label="中铁快运股份有限公司">
                        <img src="https://kyfw.12306.cn/otn/resources/images/link04.png" alt="中铁快运股份有限公司"
                            title="中铁快运股份有限公司">
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="footer-code">
                <li style="width: 140px">
                    <h2>中国铁路官方微信</h2>
                    <div class="code-pic">
                        <img src="https://kyfw.12306.cn/otn/resources/images/zgtlwb.png" title="中国铁路官方微信"
                            alt="中国铁路官方微信">
                    </div>
                </li>
                <li style="width: 140px">
                    <h2>中国铁路官方微博</h2>
                    <div class="code-pic">
                        <img src="https://kyfw.12306.cn/otn/resources/images/zgtlwx.png" title="中国铁路官方微博"
                            alt="中国铁路官方微博">
                    </div>
                </li>
                <li style="width: 110px">
                    <h2>12306 公众号</h2>
                    <div class="code-pic">
                        <img src="https://kyfw.12306.cn/otn/resources/images/public.png" title="12306 公众号"
                            alt="12306 公众号">
                    </div>
                </li>
                <li style="width: 110px">
                    <h2>铁路12306</h2>
                    <div class="code-pic">
                        <img src="https://kyfw.12306.cn/otn/resources/images/download.png" title="铁路12306"
                            alt="铁路12306">
                    </div>
                </li>
                <li>
                    <div class="code-tips">
                        官方APP下载，目前铁路未授权其他网站或APP开展类似服务内容，敬请广大用户注意。
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-text" style="position: relative;">
        <p>
            <span class="mr">版权所有©2008-2023</span>
            <span>中国铁道科学研究院集团有限公司</span>
            <span>技术支持：铁旅科技有限公司</span>
        </p>
        <p>
            <span class="mr">
                <img src="https://kyfw.12306.cn/otn/resources/images/gongan.png" alt="中国国家铁路集团有限公司" style="width: 13px"
                    title="中国国家铁路集团有限公司">
                <a target="blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802038392"
                    style="color: #c1c1c1">京公网安备 11010802038392号</a>
            </span>
            <span class="mr">|</span>
            <span class="mr">京ICP备05020493号-4</span>
            <span class="mr">|</span>
            <span>ICP证：京B2-20202537</span>
        </p>
        <div style="position: absolute;top: 17px;left: 50%;margin-left: 350px;">
            <img src="https://kyfw.12306.cn/otn/resources/images/footer-slh.jpg"
                style="display: block;width: 130px;height: 46px;" alt="中国国家铁路集团有限公司" title="中国国家铁路集团有限公司">
        </div>
    </div>
</div>

<style>
    @import url('../css/base.css');

    .foot {
        color: white;
        font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
        height: 300px;
        display: flex;
        flex-direction: column;

    }

    .foot h2,
    p {
        font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    }

    .foot .footer-con {
        background: url("https://www.12306.cn/index/images/festival2024/footer.png");
        padding: 0px 150px;
        height: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .foot .footer-con .foot-links .foot-links-list {
        width: 420px;
        display: flex;
        flex-wrap: wrap;
    }

    .foot .footer-con .foot-links img {
        width: 200px;
        border: 1px solid #dedede;
        margin: 0px 10px 10px 0;
    }

    .foot .footer-con h2 {
        height: 54px;
        line-height: 54px;
        font-size: 14px;
    }

    .foot .footer-con .footer-code .code-tips {
        margin-top: 50px;
        width: 190px;
        height: 80px;
        border: 1px solid #dedede;
        background-color: #fff;
        color: black;
        background-position: right bottom;
        background-repeat: no-repeat;
        line-height: 18px;
        padding: 12px 10px;
        font-size: 12px;
        text-align: left;
    }

    .foot .footer-con .footer-code {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .foot .footer-con .footer-code .code-pic {
        text-align: center;
    }

    .foot .footer-con .footer-code img {
        border: 1px solid #dedede;
        width: 80px;
    }

    .foot .footer-text {
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 10px 0;
        background: #AA1D08;

        color: #c1c1c1;
    }

    .foot .footer-text p {
        margin: 0%;
        line-height: 30px;
        height: 30px;
    }
</style>