<!-- 尾部开始 -->
<div class="foot">
    <div class="footer-con">
        <div class="foot-links" >
            <h2 class="foot-con-tit" style="margin-bottom: 84px; margin-right: 80px; color: #FFFFFF;font-size: 16px;">友情链接</h2>

        </div>
        <div>
            <ul class="footer-code">
                <li style="width: 140px">
                    <h2>中国铁路官方微信</h2>
                    <div class="code-pic">
                        <img src="https://kyfw.12306.cn/otn/resources/images/zgtlwb.png" title="中国铁路官方微信"
                            alt="中国铁路官方微信">
                    </div>
                </li>
                <li style="width: 140px">
                    <h2>中国铁路官方微博</h2>
                    <div class="code-pic">
                        <img src="https://kyfw.12306.cn/otn/resources/images/zgtlwx.png" title="中国铁路官方微博"
                            alt="中国铁路官方微博">
                    </div>
                </li>
                <li style="width: 110px">
                    <h2>12306 公众号</h2>
                    <div class="code-pic">
                        <img src="https://kyfw.12306.cn/otn/resources/images/public.png" title="12306 公众号"
                            alt="12306 公众号">
                    </div>
                </li>
                <li style="width: 110px">
                    <h2>铁路12306</h2>
                    <div class="code-pic">
                        <img src="https://kyfw.12306.cn/otn/resources/images/download.png" title="铁路12306"
                            alt="铁路12306">
                    </div>
                </li>
                <li>
                    <div class="code-tips">
                        官方APP下载，目前铁路未授权其他网站或APP开展类似服务内容，敬请广大用户注意。
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-text" style="position: relative;">
        <p>
            <span class="mr">版权所有©2024-罗汉</span>
            <span role="img" aria-label="github" class="anticon anticon-github"><svg viewBox="64 64 896 896"
                    focusable="false" data-icon="github" width="1em" height="1em" fill="currentColor"
                    aria-hidden="true">
                    <path
                        d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5 64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9 26.4 39.1 77.9 32.5 104 26 5.7-23.5 17.9-44.5 34.7-60.8-140.6-25.2-199.2-111-199.2-213 0-49.5 16.3-95 48.3-131.7-20.4-60.5 1.9-112.3 4.9-120 58.1-5.2 118.5 41.6 123.2 45.3 33-8.9 70.7-13.6 112.9-13.6 42.4 0 80.2 4.9 113.5 13.9 11.3-8.6 67.3-48.8 121.3-43.9 2.9 7.7 24.7 58.3 5.5 118 32.4 36.8 48.9 82.7 48.9 132.3 0 102.2-59 188.1-200 212.9a127.5 127.5 0 0138.1 91v112.5c.8 9 0 17.9 15 17.9 177.1-59.7 304.6-227 304.6-424.1 0-247.2-200.4-447.3-447.5-447.3z">
                    </path>
                </svg></span>
                <a target="blank" href="https://github.com/1072344372/LhMooc"
                style="color: #c1c1c1"> LhMooc项目地址</a>
            <span style="margin-left: 20px;">技术支持：传一科技</span>
        </p>
        <p>
            <span class="mr">
                <img src="https://kyfw.12306.cn/otn/resources/images/gongan.png" alt="中国国家铁路集团有限公司" style="width: 13px"
                    title="中国国家铁路集团有限公司">
                <a target="blank" href="https://beian.miit.gov.cn/"
                    style="color: #c1c1c1"> 黔ICP备2023011756号-1</a>
            </span>
        </p>
        <div style="position: absolute;top: 17px;left: 50%;margin-left: 350px;">
            <img src="https://kyfw.12306.cn/otn/resources/images/footer-slh.jpg"
                style="display: block;width: 130px;height: 46px;" alt="中国国家铁路集团有限公司" title="中国国家铁路集团有限公司">
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="../css/base.css">
<style>
    .foot {
        color: white;
        font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
        height: 300px;
        display: flex;
        flex-direction: column;

    }

    .foot h2,
    p {
        font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    }

    .foot .footer-con {
        background: url("https://www.12306.cn/index/images/festival2024/footer.png");
        padding: 0px 150px;
        height: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .foot .footer-con .foot-links .foot-links-list {
        width: 420px;
        display: flex;
        flex-wrap: wrap;
    }

    .foot .footer-con .foot-links img {
        width: 200px;
        border: 1px solid #dedede;
        margin: 0px 10px 10px 0;
    }

    .foot .footer-con h2 {
        height: 54px;
        line-height: 54px;
        font-size: 14px;
    }

    .foot .footer-con .footer-code .code-tips {
        margin-top: 50px;
        width: 190px;
        height: 80px;
        border: 1px solid #dedede;
        background-color: #fff;
        color: black;
        background-position: right bottom;
        background-repeat: no-repeat;
        line-height: 18px;
        padding: 12px 10px;
        font-size: 12px;
        text-align: left;
    }

    .foot .footer-con .footer-code {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .foot .footer-con .footer-code .code-pic {
        text-align: center;
    }

    .foot .footer-con .footer-code img {
        border: 1px solid #dedede;
        width: 80px;
    }

    .foot .footer-text {
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 10px 0;
        background: #AA1D08;

        color: #c1c1c1;
    }

    .foot .footer-text p {
        margin: 0%;
        line-height: 30px;
        height: 30px;
    }
</style>