<div class="header" id="header">
    <div class="wrapper">
        <!-- 头部左侧logo -->
        <a onclick="window.parent.location.href = '../index.html';" target="_parent">
            <img src="../images/logo.png" alt="中国铁路12306" title="中国铁路12306" class="logo">
        </a>
        <!-- 头部右侧 -->
        <div class="header-right">
            <!-- 搜索条 -->
            <div class="header-search" style="width: 380px">
                <div class="search-bd" style="width: 350px">
                    <input type="text" class="search-input" id="search-input" aria-label="搜索车票、餐饮、常旅客、相关规章" value=""
                        auto-complete="new-password" placeholder="搜索...." aria-haspopup="true">
                    <a class="search-btn" href="javascript:;" aria-label="点击搜索，搜索结果页面可能超出无障碍服务范围">
                        <i class="icon icon-search"></i>
                    </a>
                </div>
            </div>
            <!-- 右侧菜单 -->
            <ul class="header-menu" role="menubar" id="topMenu">
                <li class="menu-item">
                    <a onclick="window.parent.location.href = '../views/userView/shoppingCart.html';"
                        target="_parent">购物车
                    </a>
                </li>
                <li class="menu-item menu-line">|</li>
                <li class="menu-item">
                    <a onclick="window.parent.location.href = '../views/userView/order.html';" target="_parent">订单</a>
                </li>
                <li class="menu-item menu-line">|</li>
                <li class="menu-item menu-nav" role="menuitem">
                    <a onclick="window.parent.location.href = '../views/userView/geren.html';" target="_parent">个人中心
                        <i class="caret"></i>
                    </a>
                </li>
                <li class="menu-item menu-line">|</li>
                <li id="J-header-login" style="display: none" class="menu-item menu-login" role="menuitem">
                    <a onclick="window.parent.showLoginBox();" target="_parent">登录</a>
                    <a onclick="window.parent.showResBox();" target="_parent">注册</a>
                </li>
                <li id="J-header-logout" class="menu-item menu-nav menu-login" role="menuitem" style="display: none">
                    您好，<span id="username" class="txt-primary menu-nav-my-hd"></span>&nbsp;|&nbsp;<a class="logout"
                        href="javascript:;" onclick="logout()">退出</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="nav-box" role="navigation">
    <div id="esd_createToNavNode"></div>
    <ul class="nav" role="menubar">
        <li role="menuitem" class="nav-item nav-item-w1"><a onclick="window.parent.location.href = '../index.html';"
                target="_parent" name="g_href" data-type="1" data-href="index.html" data-redirect="Y"
                href="javascript:;" class="nav-hd">首页</a>
        </li>
        <li role="menuitem" class="nav-item nav-item-w1"><a
                onclick="window.parent.location.href = '../views/userView/course.html';" target="_parent" class="nav-hd"
                aria-expanded="true" aria-haspopup="true" aria-controls="megamenu-3">课程
            </a>
        </li>
        <li role="menuitem" class="nav-item"><a onclick="window.parent.location.href = '../admin.html';"
                target="_parent" class="nav-hd admin-menu" aria-expanded="true" aria-haspopup="true"
                aria-controls="megamenu-9" style="display: none;">后台管理
            </a>
        </li>


    </ul>
    <div id="esd_createCrossNavNode"></div>
</div>
<link rel="stylesheet" type="text/css" href="../css/base.css">
<style>
    .nav-box {
        height: 40px;
        background: #E2422B;
    }

    .nav {
        width: 1190px;
        margin: 0 auto;
        position: relative;
        height: 40px;
        z-index: 1900;
    }

    .nav .nav-item.nav-item-w1 {
        width: 145px;
    }

    .nav .nav-item {
        float: left;
        width: 150px;
        height: 40px;
    }

    .nav .nav-hd {
        display: block;
        height: 40px;
        line-height: 40px;
        color: #fff;
        text-align: center;
    }

    a {
        color: black;
    }

    .header .logo {
        width: 120px;
    }

    .header {
        height: 80px;
        padding: 15px 0 0 20%;
    }

    .header .wrapper {
        display: flex;
    }

    .header p {
        font-size: 20px;
        text-align: center;
        margin: 14px 0 0 25px;
    }

    .header-right {
        /*background: url("https://www.12306.cn/index/images/festival2024/train.png");*/
        background-repeat: no-repeat;
        height: 40px;
        margin: 10px 20px 0 0;
        padding: 6px 0 0 90px;
        display: flex;
        position: relative;
    }

    .header-right::after {
        position: absolute;
        content: "";
        /*background: url("https://www.12306.cn/index/images/festival2024/train.png");*/
        background-repeat: no-repeat;
        width: 100%;
        /* 限制最大宽度不超出屏幕 */
        max-width: calc(100vw - 1210px);
        height: 40px;
        top: 25px;
        right: 10px;
        z-index: -1;
    }

    .search-input {
        width: 350px;
        height: 30px;
    }

    .header-menu,
    .search-bd {
        display: flex;
    }

    .search-btn::after {
        content: "";
        display: inline-block;
        width: 30px;
        height: 30px;
        background-image: url('https://lhwaimai.oss-cn-beijing.aliyuncs.com/logo/logo.jpg');
        /* 图标适应大小 */
        background-size: contain;
        /* 避免图标重复 */
        background-repeat: no-repeat;
    }
</style>
<script>
    // 页面加载完成后检查登录状态
    document.addEventListener("DOMContentLoaded", function () {
        checkLoginStatus();
    });

    // 检查用户登录状态 并且判断用户端权限是否是1（管理员） 如果是的话就显示后台管理
    function checkLoginStatus() {
        var user = sessionStorage.getItem("LoginMoocUser");
        if (user) {
            // 已登录状态，显示用户名和退出按钮
            var userData = JSON.parse(user);
            document.getElementById("J-header-login").style.display = "none";
            document.getElementById("J-header-logout").style.display = "block";
            document.getElementById("username").innerText = userData.username;
            // 检查用户角色，如果是管理员则显示后台管理菜单
            console.log("userData",userData)
            if (userData.userrole === 1) {
                document.querySelector('.admin-menu').style.display = "block";
            } else {
                document.querySelector('.admin-menu').style.display = "none";
            }
        } else {
            // 未登录状态，显示登录和注册按钮
            document.getElementById("J-header-login").style.display = "block";
            document.getElementById("J-header-logout").style.display = "none";
        }
    }

    // 退出登录
    function logout() {
        sessionStorage.removeItem("LoginMoocUser"); // 清除用户信息
        // 清除cookies中的用户信息
        document.cookie = "LoginMoocUser=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/";
        parent.window.location.reload(); // 重新加载页面
    }


    /*
    * 计算渐变色
    * */
    window.parent.addEventListener('scroll', function () {
        var scrollTop = window.parent.scrollY;
        var header = document.getElementById('header');
        var gradientColor = "linear-gradient(to bottom, #ffffff, " + calculateGradientColor(scrollTop) + ")";
        header.style.backgroundImage = gradientColor;
    });

    function calculateGradientColor(scrollTop) {
        // 这里可以根据scrollTop的值来计算渐变色的变化
        // 示例：随着scrollTop增加，渐变色从淡蓝色变为橙色
        var maxScroll = 1000; // 视情况修改最大滚动距离
        var maxColor = [135, 206, 235]; // 淡蓝色
        var minColor = [255, 165, 0]; // 橙色

        var ratio = Math.min(scrollTop / maxScroll, 1); // 计算滚动比例，确保在0到1之间
        var resultColor = [];
        for (var i = 0; i < 3; i++) {
            var color = Math.round(maxColor[i] * (1 - ratio) + minColor[i] * ratio); // 插值计算渐变色
            resultColor.push(color);
        }

        return 'rgb(' + resultColor.join(',') + ')';
    }
</script>