<!-- 头部开始 -->
<div class="header">
    <div class="wrapper">
        <!-- 头部内容 -->
        <a href="https://www.12306.cn/index/index.html">
            <img src="https://www.12306.cn/index/images/logo.png" alt="中国铁路12306" title="中国铁路12306">
        </a>
    </div>
</div>
<!-- 头部结束 -->
<style>
    @import url('../css/base.css');

    .header {
        height: 80px;
        padding: 15px 0 0 20%;
    }

    .header .wrapper {
        display: flex;
    }

    .header p,
    .header image {
        font-size: 20px;
        text-align: center;
        margin: 14px 0 0 25px;
    }
</style>