<div class="nav-box" role="navigation">
    <div id="esd_createToNavNode"></div>
    <ul class="nav" role="menubar">
        <li role="menuitem" class="nav-item nav-item-w1"><a onclick="window.parent.location.href = '../index.html';"
                target="_parent" name="g_href" data-type="1" data-href="index.html" data-redirect="Y"
                href="javascript:;" class="nav-hd">首页</a>
        </li>
        <li role="menuitem" class="nav-item nav-item-w1"><a
                onclick="window.parent.location.href = '../views/number.html';" target="_parent" class="nav-hd"
                aria-expanded="true" aria-haspopup="true" aria-controls="megamenu-3">车票
            </a>

        </li>
        <li role="menuitem" class="nav-item "><a href="javascript:void(0)" class="nav-hd " aria-expanded="true"
                aria-haspopup="true" aria-controls="megamenu-4">团购服务
       
            </a>

        </li>
        <li role="menuitem" class="nav-item "><a href="javascript:void(0) " class="nav-hd " aria-expanded="true"
                aria-haspopup="true" aria-controls="megamenu-5">会员服务
      
            </a>

        </li>
        <li role="menuitem" class="nav-item "><a href="javascript:void(0) " class="nav-hd " aria-expanded="true"
                aria-haspopup="true" aria-controls="megamenu-6">站车服务
            
            </a>

        </li>
        <li role="menuitem" class="nav-item "><a href="javascript:void(0) " class="nav-hd " aria-expanded="true"
                aria-haspopup="true" aria-controls="megamenu-7">商旅服务

            </a>

        </li>
        <li role="menuitem" class="nav-item "><a href="javascript:void(0) " class="nav-hd " aria-expanded="true"
                aria-haspopup="true" aria-controls="megamenu-8">出行指南

            </a>

        </li>
        <li role="menuitem" class="nav-item "><a onclick="window.parent.location.href = '../admin.html';" target="_parent" class="nav-hd " aria-expanded="true"
                aria-haspopup="true" aria-controls="megamenu-9">后台管理

            </a>
        </li>

    </ul>
    <div id="esd_createCrossNavNode"></div>
</div>
<style>
    @import url('../css/base.css');

    .nav-box {
        height: 40px;
        background: #E2422B;
    }

    .nav {
        width: 1190px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        height: 40px;
        z-index: 1900;
    }

    .nav .nav-item.nav-item-w1 {
        width: 145px;
    }

    .nav .nav-item {
        float: left;
        width: 150px;
        height: 40px;
    }

    .nav .nav-hd {
        display: block;
        height: 40px;
        line-height: 40px;
        color: #fff;
        text-align: center;
    }
</style>
<script>

</script>