<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>课程分类管理</title>
    <link rel="stylesheet" href="../../css/manages.css">
</head>

<body>
    <div class="container" style="padding-right: 10px;">
        <!-- 内容区域 -->
        <div class="main hadmin">
            <div class="select">
                课程分类 <input type="text" id="categoryName" placeholder="请输入课程分类名">
                <input type="button" value="查询" class="baseButton" onclick="searchCategory()">
                <input type="button" value="添加" class="baseButton" onclick="openAddModal()">
            </div>
            <!-- 查询结果区域开始 -->
            <div id="resultContainer">
                <table id="categoryTable" style="min-height: 100px;">
                    <thead>
                        <tr>
                            <th>分类ID</th>
                            <th>分类名称</th>
                            <th>创建时间</th>
                            <th>逻辑删除</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="categoryList">

                    </tbody>
                </table>
                <div class="pagination" id="pagination">
                    <!-- Pagination content will be added here -->
                </div>
            </div>
            <!-- 查询结果区域结束 -->
        </div>
        <!-- 添加窗口 -->
        <div id="addModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('addModal')">&times;</span>
                <h2>添加课程分类</h2>
                <form id="addForm">
                    <label for="categoryName">分类名称:</label>
                    <input type="text" id="categoryNameInput"><br><br>
                    <input type="button" value="确定" onclick="submitAddCategory()">
                </form>
            </div>
        </div>
        <!-- 编辑窗口 -->
        <div id="editModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('editModal')">&times;</span>
                <h2>编辑课程分类信息</h2>
                <form id="editForm">
                    <label for="categoryId">分类ID:</label>
                    <input type="text" id="categoryId" readonly><br><br>
                    <label for="categoryName">分类名称:</label>
                    <input type="text" id="updateCategoryNameInput"><br><br>
                    <input type="button" value="确定" onclick="submitEditCategory()">
                </form>
            </div>
        </div>
    </div>
    <script src="../../js/jquery-3.6.0.js"></script>
    <script>
        var pageSize = 3;
        var categoryList = {}
        var pageNo = 1;
        window.onload = function () {
            searchCategory(pageNo); // 在页面加载时查询第一页的课程分类数据
        };

        // 更新导航条内容
        function updatePagination(pageNo1, totalPages, totalRecords) {
            var pagination = document.getElementById("pagination");
            pagination.innerHTML = ""; // 清空之前的内容
            var ul = document.createElement("ul");

            for (var i = 1; i <= totalPages; i++) {
                var li = document.createElement("li");
                var a = document.createElement("a");
                a.href = "#";
                a.innerText = i;
                a.onclick = function () {
                    searchCategory(this.innerText);
                };
                // 是当前页码
                if (i == pageNo1) {
                    a.classList.add("active");
                }
                li.appendChild(a);
                ul.appendChild(li);
            }

            //导航条
            var totalPageLi = document.createElement("li");
            totalPageLi.innerHTML = "<a>共" + totalPages + "页</a>";
            ul.appendChild(totalPageLi);
            var totalRecordLi = document.createElement("li");
            totalRecordLi.innerHTML = "<a>共" + totalRecords + "记录</a>";
            ul.appendChild(totalRecordLi);

            pagination.appendChild(ul);
        }

        //根据分类名称进行模糊查询
        function searchCategory(pageNo) {
            if (pageNo == null) {
                pageNo = 1;
            }
            var categoryName = document.getElementById("categoryName").value.trim();
            $.ajax({
                url: 'LhMooc/categoryServlet',
                type: 'get',
                data: {
                    action: "page",
                    pageNo: pageNo,
                    pageSize: pageSize,
                    categoryName: categoryName
                },
                dataType: "JSON",
                success: function (res) {
                    console.log("返回的res", res);
                    if (res.code === 200) {
                        //显示内容
                        categoryList = res.data.items;
                        console.log("categoryList:",categoryList)
                        displayCategoryList(res.data.items);
                        //显示导航条
                        pageNo = res.data.pageNo;
                        updatePagination(res.data.pageNo, res.data.pageTotalCount, res.data.totalRow);
                    } else {
                        alert(res.msg);
                    }
                },
                error: function (err) {
                    console.log('error', err);
                },
            });
        }

        // 展示模糊查询课程分类的数据
        function displayCategoryList(data) {
            var categoryList = document.getElementById("categoryList");
            categoryList.innerHTML = ""; // 清空之前的数据
            for (var i = 0; i < data.length; i++) {
                var category = data[i];
                var tr = document.createElement("tr");
                tr.innerHTML = "<td>" + category.categoryid + "</td>" +
                    "<td>" + category.categoryname + "</td>" +
                    "<td>" + category.createtime + "</td>" +
                    "<td>" + (category.isdelete === 1 ? "被删除" : "没被删除") + "</td>" +
                    "<td><button class='baseButton' onclick='editCategory(" + i + ")'>编辑</button></td>" +
                    "<td><button class='baseButton' onclick='deleteCategory(" + i + ")'>逻辑删除</button></td>" +
                    "<td><button class='baseButton' onclick='realDelete(" + i + ")'>删除</button></td>";
                categoryList.appendChild(tr);
            }
        }

        // 添加课程分类
        function openAddModal() {
            // 清空输入框
            document.getElementById("categoryId").value = "";
            document.getElementById("categoryNameInput").value = "";
            // 显示弹窗
            document.getElementById("addModal").style.display = "block";
        }

        // 编辑课程分类
        function editCategory(index) {
            var { categoryid, categoryname } = categoryList[index];
            document.getElementById("categoryId").value = categoryid;
            document.getElementById("updateCategoryNameInput").value = categoryname;
            // 显示弹窗
            document.getElementById("editModal").style.display = "block";
        }


        // 提交添加课程分类
        function submitAddCategory() {
            var categoryName = document.getElementById("categoryNameInput").value.trim();
            // 发送Ajax请求进行添加
            $.ajax({
                method: "post",
                url: "LhMooc/categoryServlet",
                dataType: "json",
                data: {
                    action: "add",
                    categoryname: categoryName
                },
                success: function (res) {
                    if (res.code === 200) {
                        searchCategory(pageNo);
                        closeModal('addModal'); // 添加成功后关闭弹窗
                    } else {
                        alert("添加失败:" + res.msg);
                    }
                },
                error: function (err) {
                    console.log("error", err);
                }
            });
        }

        // 提交编辑课程分类
        function submitEditCategory() {
            var categoryId = document.getElementById("categoryId").value.trim();
            var categoryName = document.getElementById("updateCategoryNameInput").value.trim();
            // 发送Ajax请求进行修改
            $.ajax({
                method: "post",
                url: "LhMooc/categoryServlet",
                dataType: "json",
                data: {
                    action: "update",
                    categoryid: categoryId,
                    categoryname: categoryName
                },
                success: function (res) {
                    if (res.code === 200) {
                        searchCategory(pageNo);
                        closeModal('editModal'); // 修改成功后关闭弹窗
                    } else {
                        alert("修改失败:" + res.msg);
                    }
                },
                error: function (err) {
                    console.log("error", err);
                }
            });
        }

        //逻辑删除课程分类
        function deleteCategory(index) {
            const { categoryid } = categoryList[index];
            $.ajax({
                method: "get",
                url: "LhMooc/categoryServlet",
                dataType: "json",
                data: {
                    action: "delete",
                    categoryid: categoryid
                },
                success: function (res) {
                    if (res.code === 200) {
                        searchCategory(pageNo);
                    } else {
                        console.log("删除失败", res.msg)
                    }
                },
                error: function (err) {
                    console.log("error", err)
                }
            })
        }

        //真实删除课程分类
        function realDelete(index) {
            const { categoryid } = categoryList[index];
            $.ajax({
                method: "get",
                url: "LhMooc/categoryServlet",
                dataType: "json",
                data: {
                    action: "realDelete",
                    categoryid: categoryid
                },
                success: function (res) {
                    if (res.code === 200) {
                        searchCategory(pageNo);
                    } else {
                        console.log("删除失败", res.msg)
                    }
                },
                error: function (err) {
                    console.log("error", err)
                }
            })
        }

        // 关闭弹窗
        function closeModal(modalId) {
            document.getElementById(modalId).style.display = "none";
        }
    </script>
</body>
</html>