<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户管理</title>
    <link rel="stylesheet" href="../../css/manages.css">
</head>

<body>
    <div class="container" style="padding-right: 10px;">
        <!-- 内容区域 -->
        <div class="main hadmin">
            <div class="select">
                用户 <input type="text" id="userName" placeholder="请输入用户名">
                <input type="button" value="查询" class="baseButton" onclick="searchUser()">
                <input type="button" value="添加" class="baseButton" onclick="openAddModal()">
            </div>
            <!-- 查询结果区域开始 -->
            <div id="resultContainer">
                <table id="userTable" style="min-height: 100px;">
                    <thead>
                        <tr>
                            <th>用户名</th>
                            <th>昵称</th>
                            <th>邮箱</th>
                            <th>头像</th>
                            <th>钱包余额</th>
                            <th>创建时间</th>
                            <th>更新时间</th>
                            <th>用户角色</th>
                            <th>逻辑删除</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="userList">

                    </tbody>
                </table>
                <div class="pagination" id="pagination">
                </div>
            </div>
            <!-- 查询结果区域结束 -->
        </div>
        <!-- 弹窗 -->
        <div id="editModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h2>编辑用户信息</h2>
                <form id="editForm">
                    <label for="userId">id:</label>
                    <input type="text" id="userId" readonly><br><br>
                    <label for="username">用户名:</label>
                    <input type="text" id="username"><br><br>
                    <label for="password">新密码:</label>
                    <input type="password" id="password"><br><br>
                    <label for="userNickname">昵称:</label>
                    <input type="text" id="userNickname"><br><br>
                    <label for="userEmail">邮箱:</label>
                    <input type="text" id="userEmail"><br><br>
                    <label for="userAvatar">头像:</label>
                    <input type="text" id="userAvatar"><br><br>
                    <label for="userWallet">钱包余额:</label>
                    <input type="text" id="userWallet"><br><br>
                    <label for="userRole">用户角色:</label>
                    <input type="text" id="userRole"><br><br>
                    <input type="button" value="确定" onclick="submitUser()">
                </form>
            </div>
        </div>
    </div>
    <script src="../../js/jquery-3.6.0.js"></script>
    <script>
        var pageSize = 3;
        var userList = {}
        var pageNo = 1;
        window.onload = function () {
            searchUser(pageNo); // 在页面加载时查询第一页的用户数据
        };

        // 更新导航条内容
        function updatePagination(pageNo1, totalPages, totalRecords) {
            var pagination = document.getElementById("pagination");
            pagination.innerHTML = ""; // 清空之前的内容
            var ul = document.createElement("ul");

            for (var i = 1; i <= totalPages; i++) {
                var li = document.createElement("li");
                var a = document.createElement("a");
                a.href = "#";
                a.innerText = i;
                a.onclick = function () {
                    searchUser(this.innerText);
                };
                // 是当前页码
                if (i == pageNo1) {
                    a.classList.add("active");
                }
                li.appendChild(a);
                ul.appendChild(li);
            }

            //导航条
            var totalPageLi = document.createElement("li");
            totalPageLi.innerHTML = "<a>共" + totalPages + "页</a>";
            ul.appendChild(totalPageLi);
            var totalRecordLi = document.createElement("li");
            totalRecordLi.innerHTML = "<a>共" + totalRecords + "记录</a>";
            ul.appendChild(totalRecordLi);

            pagination.appendChild(ul);
        }

        //根据用户名进行模糊查询
        function searchUser(pageNo) {
            if (pageNo == null) {
                pageNo = 1;
            }
            var userName = document.getElementById("userName").value.trim();
            console.log("查询输入框的username",userName)
            $.ajax({
                url: 'LhMooc/userServlet',
                type: 'get',
                data: {
                    action: "page",
                    pageNo: pageNo,
                    pageSize: pageSize,
                    userName: userName
                },
                dataType: "JSON",
                success: function (res) {
                    console.log("返回的res", res);
                    if (res.code === 200) {
                        //显示内容
                        userList = res.data.items;
                        displayUserList(res.data.items);
                        //显示导航条
                        pageNo = res.data.pageNo;
                        updatePagination(res.data.pageNo, res.data.pageTotalCount, res.data.totalRow);
                    } else {
                        alert(res.msg);
                    }
                },
                error: function (err) {
                    console.log('error', err);
                },
            });
        }

        // 展示模糊查询用户的数据
        function displayUserList(data) {
            var userList = document.getElementById("userList");
            userList.innerHTML = ""; // 清空之前的数据
            for (var i = 0; i < data.length; i++) {
                var user = data[i];
                var tr = document.createElement("tr");
                tr.innerHTML = "<td>" + user.username + "</td>" +
                    "<td>" + user.nickname + "</td>" +
                    "<td>" + user.email + "</td>" +
                    "<td>" + user.avatar + "</td>" +
                    "<td>" + user.wallet + "</td>" +
                    "<td>" + user.createtime + "</td>" +
                    "<td>" + user.updatetime + "</td>" +
                    "<td>" + (user.userrole === 1 ? "管理员" : "普通用户") + "</td>" +
                    "<td>" + (user.isdelete === 1 ? "被删除" : "没被删除") + "</td>" +
                    "<td><button class='baseButton' onclick='editUser(" + i + ")'>编辑</button></td>" +
                    "<td><button class='baseButton' onclick='deleteUser(" + i + ")'>删除</button></td>";
                userList.appendChild(tr);
            }
        }

        // 在全局定义一个变量来判断当前操作是添加还是编辑
        var isAdding = false;
        var currentIndex; // 当前编辑的索引

        // 添加用户
        function openAddModal() {
            // 设置添加标志为true
            isAdding = true;
            // 清空输入框
            document.getElementById("userId").value = "";
            document.getElementById("userNickname").value = "";
            document.getElementById("userEmail").value = "";
            document.getElementById("userAvatar").value = "";
            document.getElementById("userWallet").value = "";
            document.getElementById("userRole").value = "";
            // 显示弹窗
            document.getElementById("editModal").style.display = "block";
            document.getElementById("userName").disabled = false;
            document.getElementById("userId").readOnly = false; // 可编辑
        }

        // 编辑用户
        function editUser(index) {
            // 设置添加标志为false
            isAdding = false;
            currentIndex = index; // 设置当前编辑的索引
            // 设置ID输入框为只读状态
            document.getElementById("userId").readOnly = true;
            openModal(index); // 打开弹窗
        }

        // 更新用户信息
        function submitUser() {
            var action;
            var newNickname = document.getElementById("userNickname").value;
            var newUsername = document.getElementById("username").value;
            var newPassword = document.getElementById("password").value;
            var newEmail = document.getElementById("userEmail").value;
            var newAvatar = document.getElementById("userAvatar").value;
            var newWallet = document.getElementById("userWallet").value;
            var newUserRole = document.getElementById("userRole").value;
            // 判断是添加还是修改操作
            if (isAdding) {
                action = "add"; // 添加操作
            } else {
                action = "update"; // 修改操作
            }
            if (action === "update") {//是修改操作
                // 发送Ajax请求进行修改
                $.ajax({
                    method: "post", // 修改为POST请求
                    url: "LhMooc/userServlet",
                    dataType: "json",
                    data: {
                        action: "update",
                        id: userList[currentIndex].id,
                        nickname: newNickname,
                        username: newUsername,
                        password: newPassword,
                        email: newEmail,
                        avatar: newAvatar,
                        wallet: newWallet,
                        userrole: newUserRole
                    },
                    success: function (res) {
                        if (res.code === 200) {
                            searchUser(pageNo);
                            closeModal(); // 修改成功后关闭弹窗
                        } else {
                            closeModal();
                            alert("修改失败:" + res.msg);
                        }
                    },
                    error: function (err) {
                        console.log("error", err);
                    }
                });
            } else if (action === "add") {//是添加操作
                var userId = document.getElementById("userId").value;
                // 发送Ajax请求进行修改
                $.ajax({
                    method: "post", // 修改为POST请求
                    url: "LhMooc/userServlet",
                    dataType: "json",
                    data: {
                        action: "add",
                        id: userId,
                        nickname: newNickname,
                        email: newEmail,
                        avatar: newAvatar,
                        wallet: newWallet,
                        userrole: newUserRole
                    },
                    success: function (res) {
                        if (res.code === 200) {
                            searchUser(pageNo);
                            closeModal(); // 添加成功后关闭弹窗
                        } else {
                            closeModal();
                            alert("添加失败:" + res.msg);
                        }
                    },
                    error: function (err) {
                        console.log("error", err);
                    }
                });

            }
        }

        //删除用户
        function deleteUser(index) {
            const { id } = userList[index];
            $.ajax({
                method: "get",
                url: "LhMooc/userServlet",
                dataType: "json",
                data: {
                    action: "delete",
                    id: id
                },
                success: function (res) {
                    if (res.code === 200) {
                        searchUser(pageNo);
                    } else {
                        console.log("删除失败", res.msg)
                    }
                },
                error: function (err) {
                    console.log("error", err)
                }
            })
        }
        // 打开弹窗并填充数据
        function openModal(index) {
            currentIndex = index; // 设置当前编辑的索引
            var { id,username, nickname, email, avatar, wallet, userrole } = userList[index];
            document.getElementById("userId").value = id;
            document.getElementById("username").value = username;
            document.getElementById("userNickname").value = nickname;
            document.getElementById("userEmail").value = email;
            document.getElementById("userAvatar").value = avatar;
            document.getElementById("userWallet").value = wallet;
            document.getElementById("userRole").value = userrole;
            document.getElementById("editModal").style.display = "block";
        }

        // 关闭弹窗
        function closeModal() {
            document.getElementById("editModal").style.display = "none";
        }
    </script>
</body>
<style>
   
</style>

</html>