<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>课程详情页</title>
    <link rel="stylesheet" href="../../css/login-res.css">
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/courseDetail.css">
</head>

<body>

    <!-- 头部开始 -->
    <iframe src="../../component/heard.html?nav=index" width=100% height=120px marginwidth=0 marginheight=0
        frameborder="0" scrolling="no" style="position: fixed;z-index: 1001;background-color: LightBlue;">
        <a>你的浏览器不支持iframe页面嵌套，请点击这里访问页面内容。</a>
    </iframe>
    <!-- 头部结束 -->

    <div class="contatiner" style="padding-top: 130px;">
        <div class="main" style="min-height: 600px;">
            <!-- 课程介绍区域开始 -->
            <!-- 课程介绍区域 -->
            <div class="course-intro">
                <h1>课程名: 课程名称</h1>
                <h2>课程简介: 课程的简介</h2>
                <h3>当前播放视频名: <span id="currentVideoName">视频名称</span></h3>
                <p style="color: red;">价格：￥</p>
                <button class="baseButton buyButton">购买课程</button>
                <button class="baseButton shoppingCartButton">添加到购物车</button>
            </div>

            <!-- 课程简介 -->
            <!-- 标题 -->
            <!-- 简介内容 -->
            <!-- 课程简介区域结束 -->
            <!-- 课程区域开始-->
            <div class="courseBox">
                <!-- 课程播放开始 -->
                <div class="course-play">
                    <!-- 视频播放器 -->
                    <video controls width="100%" height="auto" id="videoPlayer">
                        <source src="" type="video/mp4">
                    </video>
                    <!--点赞区域开始 -->
                    <div class="like">
                        <div><button class="baseButton">点赞</button>点赞数：<span></span></div>
                        <div><button class="baseButton">收藏</button>收藏数：<span></span></div>
                        <div>评论数：<span></span></div>
                    </div>
                    <!-- 点赞区域结束 -->
                </div>
                <!-- 课程播放结束 -->

                <!-- 课程目录开始  -->
                <div class="catalogue-container" id="catalogue">
                    <div class="wrapper">
                        <div class="title-box">
                            <div class="left"></div>
                            <a class="right js-control-all-list" href="javascript:;">
                                <span class="blue">展开所有</span>
                                <i class="blue imv2-chevrons-down"></i>
                            </a>
                        </div>
                        <div class="catalogue-box">
                            <!-- 章节目录动态生成 -->
                        </div>
                        <div class="chapter-update-state"><i class="imv2-refresh"></i>本课程持续更新中</div>
                    </div>
                </div>
                <!-- 课程目录结束 -->

            </div>
            <!-- 课程区域结束 -->
            <!-- 课程介绍区域结束 -->
            <!-- 评论区开始 -->
            <div class="comment-container">
                <!-- 输入框区域 -->
                <div class="comment-input">
                    <div class="user-avatar">
                        <!-- 这里放当前用户的头像 -->
                        <img src="../../images/defultImg.png">
                    </div>
                    <div class="input-area">
                        <input type="text" placeholder="天青色等烟雨，评论区等你">
                        <button class="baseButton">发布</button>
                    </div>
                </div>
                <!-- 评论内容区域 -->
                <div class="comment-area">
                    <!-- 评论列表动态生成 -->
                </div>
            </div>

            <!-- 评论区结束 -->
        </div>
    </div>

    <!-- 尾部开始 -->
    <iframe src="../../component/foot.html" width=100% height=300px marginwidth=0 marginheight=0 frameborder="0"
        scrolling="no">
        <a>你的浏览器不支持iframe页面嵌套，请点击这里访问页面内容。</a>
    </iframe>
    <!-- 尾部结束 -->
    <script src="../../js/jquery-3.6.0.js"></script>
    <!-- <script src="../../js/manages.js"></script> -->
    <script src="../../js/login-res.js"></script>
    <script src="../../js/courseDetail.js"></script>
    <script>
        var pageNo = 1;
        var pageSize = 5;
        var courseId;
        $(document).ready(function () {
            // 获取当前页面的 URL
            var url = window.location.href;

            // 获取 URL 中的参数部分
            var params = url.split("?")[1];
            courseId = params.split("=")[1];

            // 查询课程详情
            getCourseDetailById(courseId);
        });

        //查询课程详情
        function getCourseDetailById(courseId) {
            $.ajax({
                url: "LhMooc/courseServlet",
                type: "GET",
                dataType: "json",
                data: {
                    action: "getCourseDetailById",
                    courseId: courseId,
                },
                success: function (response) {
                    if (response.code === 200) {
                        console.log("查询的结果", response.data);

                        // 更新课程名称和简介
                        $(".course-intro h1").text("课程名：" + response.data.coursename);
                        $(".course-intro h2").text("课程简介：" + response.data.profile);
                        $(".course-intro p").text("价格：" + response.data.price+"元");

                        // 更新视频播放器
                        if (response.data && response.data.courseChapterList && response.data.courseChapterList.length > 0 &&
                            response.data.courseChapterList[0].courseVideoList && response.data.courseChapterList[0].courseVideoList.length > 0) {
                            var videoUrl = response.data.courseChapterList[0].courseVideoList[0].videourl;
                            $("#videoPlayer source").attr("src", "../../" + videoUrl);
                            $("#videoPlayer")[0].load(); // 重新加载视频
                            $("#currentVideoName").text(response.data.courseChapterList[0].courseVideoList[0].videoname);
                        } else {
                            console.log("未找到所需的课程视频信息！");
                        }
                        // 更新点赞数、收藏数、评论数
                        $(".like div:nth-child(1) span").text(response.data.likeCount);
                        $(".like div:nth-child(2) span").text(response.data.followCount);
                        $(".like div:nth-child(3) span").text(response.data.commentCourseVoList.length);

                        // 更新章节目录
                        var chapters = response.data.courseChapterList;
                        var $catalogueBox = $(".catalogue-box");
                        $catalogueBox.empty(); // 清空之前的内容
                        for (var i = 0; i < chapters.length; i++) {
                            var chapter = chapters[i];
                            var chapterName = chapter.chaptername;
                            var $chapterItem = $('<div class="catague-item"><div class="name-box js-control-list"><div class="left">' + (i + 1) + '章 ' + chapterName + '</div><div class="right"><div class="time-box">' + chapter.courseVideoList.length + ' 节｜' + calculateTotalVideoTime(chapter.courseVideoList) + '</div><a href="javascript:;"><span class="blue">展开</span><i class="catalogue-icon blue imv2-chevrons-down"></i></a></div></div><ul class="media-box"></ul>');

                            var $mediaBox = $chapterItem.find(".media-box");
                            for (var j = 0; j < chapter.courseVideoList.length; j++) {
                                var video = chapter.courseVideoList[j];
                                var $videoItem = $("<li></li>");
                                $videoItem.addClass("js-enter-tryMedia istrysee");
                                $videoItem.attr("data-index", j);
                                $videoItem.attr("data-type", "3");
                                $videoItem.html('<div class="left"><i class=" imv2-shipin3"></i><div class="type blue">视频：</div><div class="media-name blue">' + video.videoname + '</div></div><div class="right"><div class="media-time">' + video.videotime + '</div></div>');
                                $mediaBox.append($videoItem);
                            }

                            $catalogueBox.append($chapterItem);
                        }

                        // 更新评论区
                        var comments = response.data.commentCourseVoList;
                        var $commentArea = $(".comment-area");
                        $commentArea.empty(); // 清空之前的评论
                        for (var i = 0; i < comments.length; i++) {
                            var comment = comments[i];
                            var $comment = $("<div></div>");
                            $comment.addClass("comment");
                            // 检查头像和名称是否为空，如果为空则设置默认值
                            var avatarSrc = comment.imgurl ? "../../download/" + comment.imgurl : "../../download/" + "defultImg.png";
                            var nickname = comment.nickname ? comment.nickname : "默认名";
                            $comment.html('<div class="comment-info"><div class="user-avatar"><img src="' + avatarSrc + '"></div><div class="user-details"><div class="user-name">' + nickname + '</div><div class="comment-time">'
                                + formatDate(comment.createtime) + '</div></div></div><div class="comment-text">' + comment.content + '</div>');
                            $commentArea.append($comment);
                        }


                        // 视频列表项点击事件
                        $(".media-box li").click(function () {
                            var index = $(this).attr("data-index");
                            var chapterIndex = $(this).parents(".catague-item").index();
                            var videos = response.data.courseChapterList[chapterIndex].courseVideoList;

                            if (videos && videos.length > index) {
                                var videoUrl = videos[index].videourl;
                                var videoName = videos[index].videoname;

                                $("#videoPlayer source").attr("src", "../../" + videoUrl);
                                $("#videoPlayer")[0].load(); // 重新加载视频
                                $("#currentVideoName").text(videoName);
                            } else {
                                console.log("该章节下没有视频！");
                            }
                        });
                    } else {
                        alert(response.msg);
                    }

                },
                error: function (error) {
                    alert(error.msg);
                }
            });
        }

        // 计算视频总时长
        function calculateTotalVideoTime(videos) {
            var totalSeconds = 0;
            for (var i = 0; i < videos.length; i++) {
                var video = videos[i];
                totalSeconds += convertVideoTimeToSeconds(video.videotime);
            }
            var hours = Math.floor(totalSeconds / 3600);
            var minutes = Math.floor((totalSeconds % 3600) / 60);
            return hours + "小时" + minutes + "分钟";
        }

        // 将视频时间转换为秒数
        function convertVideoTimeToSeconds(time) {
            var timeParts = time.split(":");
            var hours = parseInt(timeParts[0]);
            var minutes = parseInt(timeParts[1]);
            var seconds = parseInt(timeParts[2]);
            return hours * 3600 + minutes * 60 + seconds;
        }
    </script>
</body>

</html>