<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>课程详情页</title>
    <link rel="stylesheet" href="../../css/login-res.css">
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/courseDetail.css">
</head>

<body>
    <!-- 登录 -->
    <div id="popBox" class="formBox">
        <div class="loginMethods">
            <span class='zhanghao denglu activeLogin'>账号登陆</span>
            <span class="glyphicon glyphicon-remove closeBox" onclick="showLoginBox()">X</span>
        </div>
        <div>
            <div class="input-items">
                <form action="">
                    <div class="zh">
                        <div class="inputItem">
                            <input type="text" id='loginusername' class="form-control loginput" placeholder="请输入登录账户"
                                style='padding-left: 20px;'>
                        </div>
                        <div class="inputItem">
                            <input type="password" id="loginpassword" class="form-control loginput yzminput pswInput"
                                placeholder="请输入密码">
                            <a href="" class='iconfont icon-yanjing-guan getMa see'></a>
                        </div>
                        <div class="inputItem autoLG">
                            <label class='autoLogin'>
                                <input type="checkbox" name="" class="autoLogin1">7天内自动登录</label>
                            <a href="">找回账号</a>
                        </div>
                        <div class="inputItem">
                            <input type="submit" value="登录" id='loginBtn1' class='loginBtn baseButton' />
                        </div>
                    </div>
                </form>

                <form action="">
                    <div class="yz">
                        <div class="inputItem">
                            <span class='leftspan'>+86</span>
                            <input type="tel" id="phoneNum" class="form-control loginput" placeholder="短信登陆仅限中国大陆用户">
                        </div>
                        <div class="inputItem">
                            <input type="text" class="form-control loginput yzminput" id="yzm" placeholder="请输入短信验证码">
                            <a href="" class='getMa'>获取验证码</a>
                        </div>
                        <div class="inputItem autoLG">
                            <label class='autoLogin'>
                                <input type="checkbox" name="" class="autoLogin1">7天内自动登录</label>
                            <a href="">找回账号</a>
                        </div>

                        <div class="inputItem">
                            <input type="submit" value="登录" id='loginBtn2' class='loginBtn baseButton' />
                        </div>
                    </div>
                </form>

                <div class="loginfooter">
                    <p>登录即同意慕课网 <a>《隐私政策》</a></p>
                    <div class="erweima"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 注册 -->
    <div id="registerBox" class="formBox">
        <div class="loginMethods">
            <span class='denglu activeLogin'>快速注册</span>
            <span class="glyphicon glyphicon-remove closeBox" onclick="showResBox()">X</span>
        </div>
        <div>
            <div class="input-items">
                <form action="">
                    <div class="zh rg">
                        <div class="inputItem">
                            <input type="tel" id='resusername' class="form-control loginput" placeholder="请输入注册账号"
                                style='padding-left: 20px;'>
                        </div>
                        <div class="inputItem">
                            <input type="text" id='rgYzm' class="form-control loginput yzminput" placeholder="请输入邮箱验证码">
                            <a href="" class='getMa'>获取验证码</a>
                        </div>
                        <div class="inputItem">
                            <input type="password" id='respassword' class="form-control loginput yzminput pswInput"
                                placeholder="请输入8-20位字母数字或字符至少包含两种！">
                            <a href="" class='iconfont icon-yanjing-guan getMa see'></a>
                        </div>
                        <div class="inputItem autoLG">
                            <label class='autoLogin'>
                                <input type="checkbox" name="" class="autoLogin1">同意慕课网
                                <a class='Rxieyi'>《慕课网注册协议》</a>&<a class='Rxieyi'>《隐私政策》</a></label>
                        </div>
                        <div class="inputItem">
                            <input type="submit" value="注册" id='loginBtn3' class='loginBtn baseButton' />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <!-- 头部开始 -->
    <iframe src="../../component/heard.html?nav=index" width=100% height=120px marginwidth=0 marginheight=0
        frameborder="0" scrolling="no" style="position: fixed;z-index: 1001;background-color: LightBlue;">
        <a>你的浏览器不支持iframe页面嵌套，请点击这里访问页面内容。</a>
    </iframe>
    <!-- 头部结束 -->

    <div class="contatiner" style="padding-top: 130px;">
        <div class="main" style="min-height: 600px;">
            <!-- 课程介绍区域开始 -->
            <!-- 课程介绍区域 -->
            <div class="course-intro">
                <h1>课程名: 课程名称</h1>
                <h2>课程简介: 课程的简介</h2>
                <h3>当前播放视频名: 视频名称</h3>
                <button class="baseButton buyButton">购买课程</button>
                <button class="baseButton shoppingCartButton">添加到购物车</button>
            </div>

            <!-- 课程简介 -->
            <!-- 标题 -->
            <!-- 简介内容 -->
            <!-- 课程简介区域结束 -->
            <!-- 课程区域开始-->
            <div class="courseBox">
                <!-- 课程播放开始 -->
                <div class="course-play">
                    <!-- 视频播放器 -->
                    <video controls width="100%" height="auto">
                        <source src="../../download/1.mp4" type="video/mp4">
                    </video>
                    <!--点赞区域开始 -->
                    <div class="like">
                        <div>点赞数：<span></span></div>
                        <div>收藏数：<span></span></div>
                        <div>评论数：<span></span></div>
                    </div>
                    <!-- 点赞区域结束 -->
                </div>
                <!-- 课程播放结束 -->

                <!-- 课程目录开始  -->
                <div class="catalogue-container" id="catalogue">
                    <div class="wrapper">
                        <div class="title-box">
                            <div class="left"></div>
                            <a class="right js-control-all-list" href="javascript:;">
                                <span class="blue">展开所有</span>
                                <i class="blue imv2-chevrons-down"></i>
                            </a>
                        </div>
                        <div class="catalogue-box">
                            <div class="catague-item">
                                <div class="name-box js-control-list">
                                    <div class="left">第1章 课程介绍
                                    </div>
                                    <div class="right">
                                        <div class="time-box"> 4 节｜72分钟
                                        </div>
                                        <a href="javascript:;" class="">
                                            <span class="blue">展开</span>
                                            <i class="catalogue-icon blue imv2-chevrons-down"></i>
                                        </a>
                                    </div>
                                </div>
                                <ul class="media-box" style="display: none;">
                                    <li class="js-enter-tryMedia istrysee" data-index="0" data-type="3">
                                        <div class="left">
                                            <i class=" imv2-shipin3"></i>
                                            <div class="type blue">
                                                视频：
                                            </div>
                                            <div class="media-name blue">1-1 课程目标</div>
                                        </div>
                                        <div class="right">
                                            <div class="media-time">20:48</div>
                                        </div>
                                    </li>
                                    <li class="js-enter-tryMedia istrysee" data-index="1" data-type="3">
                                        <div class="left">
                                            <i class=" imv2-shipin3"></i>
                                            <div class="type blue">
                                                视频：
                                            </div>
                                            <div class="media-name blue">1-2 学习NLP对你有什么帮助</div>
                                        </div>
                                        <div class="right">
                                            <div class="media-time">14:37</div>
                                        </div>
                                    </li>
                                    <li class="js-enter-tryMedia istrysee" data-index="2" data-type="3">
                                        <div class="left">
                                            <i class=" imv2-shipin3"></i>
                                            <div class="type blue">
                                                视频：
                                            </div>
                                            <div class="media-name blue">1-3 课程重难点</div>
                                        </div>
                                        <div class="right">
                                            <div class="media-time">25:04</div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="left">
                                            <i class=" imv2-shipin3"></i>
                                            <div class="type ">
                                                视频：
                                            </div>
                                            <div class="media-name ">1-4 学习建议</div>
                                        </div>
                                        <div class="right">
                                            <div class="media-time">10:55</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="catague-item">
                                <div class="name-box js-control-list">
                                    <div class="left">第2章 如何使用机器语言
                                    </div>
                                    <div class="right">
                                        <div class="time-box">内容更新中</div>
                                    </div>
                                </div>
                                <ul class="media-box" style="display: none;">
                                </ul>
                            </div>

                        </div>
                        <div class="chapter-update-state"><i class="imv2-refresh"></i>本课程持续更新中</div>
                    </div>
                </div>
                <!-- 课程目录结束 -->

            </div>
            <!-- 课程区域结束 -->
            <!-- 课程介绍区域结束 -->



            <!-- 评论区开始 -->
            <div class="comment-container">
                <!-- 输入框区域 -->
                <div class="comment-input">
                    <div class="user-avatar">
                        <!-- 这里放当前用户的头像 -->
                        <img src="../../images/defultImg.png">
                    </div>
                    <div class="input-area">
                        <input type="text" placeholder="天青色等烟雨，评论区等你">
                        <button class="baseButton">发布</button>
                    </div>
                </div>
                <!-- 评论内容区域 -->
                <div class="comment-area">
                    <!-- 单条评论示例 -->
                    <div class="comment">
                        <div class="comment-info">
                            <div class="user-avatar">
                                <!-- 这里放评论人的头像 -->
                                <img src="../../images/defultImg.png">
                            </div>
                            <div class="user-details">
                                <div class="user-name">评论人姓名</div>
                                <div class="comment-time">评论时间</div>
                            </div>
                        </div>
                        <div class="comment-text">
                            <!-- 这里放评论内容 -->
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>
                    <!-- 其他评论条目 -->
                </div>
            </div>

            <!-- 评论区结束 -->
        </div>
    </div>

    <!-- 尾部开始 -->
    <iframe src="../../component/foot.html" width=100% height=300px marginwidth=0 marginheight=0 frameborder="0"
        scrolling="no">
        <a>你的浏览器不支持iframe页面嵌套，请点击这里访问页面内容。</a>
    </iframe>
    <!-- 尾部结束 -->
    <script src="../../js/jquery-3.6.0.js"></script>
    <!-- <script src="../../js/manages.js"></script> -->
    <script src="../../js/login-res.js"></script>
    <script src="../../js/courseDetail.js"></script>
    <script>
        $(document).ready(function () {
            // 获取当前页面的 URL
            var url = window.location.href;

            // 获取 URL 中的参数部分
            var params = url.split("?")[1];
            var courseId = params.split("=")[1];

            // 查询课程详情
            getCourseDetailById(courseId);
        });

        //查询课程详情
        function getCourseDetailById(courseId) {
            $.ajax({
                url: "LhMooc/courseServlet",
                type: "GET",
                data: {
                    action: "getCourseDetailById",
                    courseId: courseId,
                },
                success: function (response) {
                    if (response.code === 200) {
                        console.log("查询的结果", response.data);
                    } else {
                        alert(response.msg);
                    }
                },
                error: function (error) {
                    alert(error.msg);
                }
            });
        }
    </script>
</body>

</html>