<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>课程</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/course.css">
    <link rel="stylesheet" href="../../css/login-res.css">
</head>

<body>
    <!-- 登录 -->
    <div id="popBox" class="formBox">
        <div class="loginMethods">
            <span class='zhanghao denglu activeLogin'>账号登陆</span>
            <span class="glyphicon glyphicon-remove closeBox" onclick="showLoginBox()">X</span>
        </div>
        <div>
            <div class="input-items">
                <form action="">
                    <div class="zh">
                        <div class="inputItem">
                            <input type="text" id='loginusername' class="form-control loginput" placeholder="请输入登录账户"
                                style='padding-left: 20px;'>
                        </div>
                        <div class="inputItem">
                            <input type="password" id="loginpassword" class="form-control loginput yzminput pswInput"
                                placeholder="请输入密码">
                            <a href="" class='iconfont icon-yanjing-guan getMa see'></a>
                        </div>
                        <div class="inputItem autoLG">
                            <label class='autoLogin'>
                                <input type="checkbox" name="" class="autoLogin1">7天内自动登录</label>
                            <a href="">找回账号</a>
                        </div>
                        <div class="inputItem">
                            <input type="submit" value="登录" id='loginBtn1' class='loginBtn baseButton' />
                        </div>
                    </div>
                </form>

                <form action="">
                    <div class="yz">
                        <div class="inputItem">
                            <span class='leftspan'>+86</span>
                            <input type="tel" id="phoneNum" class="form-control loginput" placeholder="短信登陆仅限中国大陆用户">
                        </div>
                        <div class="inputItem">
                            <input type="text" class="form-control loginput yzminput" id="yzm" placeholder="请输入短信验证码">
                            <a href="" class='getMa'>获取验证码</a>
                        </div>
                        <div class="inputItem autoLG">
                            <label class='autoLogin'>
                                <input type="checkbox" name="" class="autoLogin1">7天内自动登录</label>
                            <a href="">找回账号</a>
                        </div>

                        <div class="inputItem">
                            <input type="submit" value="登录" id='loginBtn2' class='loginBtn baseButton' />
                        </div>
                    </div>
                </form>

                <div class="loginfooter">
                    <p>登录即同意慕课网 <a>《隐私政策》</a></p>
                    <div class="erweima"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 注册 -->
    <div id="registerBox" class="formBox">
        <div class="loginMethods">
            <span class='denglu activeLogin'>快速注册</span>
            <span class="glyphicon glyphicon-remove closeBox" onclick="showResBox()">X</span>
        </div>
        <div>
            <div class="input-items">
                <form action="">
                    <div class="zh rg">
                        <div class="inputItem">
                            <input type="tel" id='resusername' class="form-control loginput" placeholder="请输入注册账号"
                                style='padding-left: 20px;'>
                        </div>
                        <div class="inputItem">
                            <input type="text" id='rgYzm' class="form-control loginput yzminput" placeholder="请输入邮箱验证码">
                            <a href="" class='getMa'>获取验证码</a>
                        </div>
                        <div class="inputItem">
                            <input type="password" id='respassword' class="form-control loginput yzminput pswInput"
                                placeholder="请输入8-20位字母数字或字符至少包含两种！">
                            <a href="" class='iconfont icon-yanjing-guan getMa see'></a>
                        </div>
                        <div class="inputItem autoLG">
                            <label class='autoLogin'>
                                <input type="checkbox" name="" class="autoLogin1">同意慕课网
                                <a class='Rxieyi'>《慕课网注册协议》</a>&<a class='Rxieyi'>《隐私政策》</a></label>
                        </div>
                        <div class="inputItem">
                            <input type="submit" value="注册" id='loginBtn3' class='loginBtn baseButton' />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <!-- 头部开始 -->
    <iframe src="../../component/heard.html?nav=index" width=100% height=120px marginwidth=0 marginheight=0
        frameborder="0" scrolling="no" style="position: fixed;z-index: 1001;background-color: LightBlue;">
        <a>你的浏览器不支持iframe页面嵌套，请点击这里访问页面内容。</a>
    </iframe>
    <!-- 头部结束 -->

    <div class="contatiner" style="padding-top: 130px;">
        <div class="main" style="min-height: 600px;">


            <!--筛选栏-->
            <div id="filter">
                <!-- 按关键字查询 -->
                <div id="filter-keyword">
                    <span>
                        <h4>关键字查询</h4>
                    </span>
                    <input type="text" id="keywordInput" placeholder="请输入关键字">
                    <button onclick="searchByKeyword()">查询</button>
                </div>
                
                <!--按类别筛选-->
                <div id="filter-class">

                </div>

                <!--按排序筛选-->
                <div id="filter-sort">
                    <span>
                        <h4>排序方式</h4>
                    </span>
                    <input type="button" value="默认" class="active" onclick="changeSortButtonStyle(this)">
                    <input type="button" value="收藏数" onclick="changeSortButtonStyle(this); searchBySortType(1)">
                    <input type="button" value="点赞数" onclick="changeSortButtonStyle(this); searchBySortType(2)">
                    <input type="button" value="评论数" onclick="changeSortButtonStyle(this); searchBySortType(3)">
                    <input type="button" value="时间" onclick="changeSortButtonStyle(this); searchBySortType(4)">
                </div>
            </div>

            <!--课程列表栏-->
            <div id="course-list" style="padding-bottom: 100px;">
                <!--课程-->
            </div>
            <!-- 导航条 -->
            <div class="pagination" id="pagination">

            </div>
        </div>

        <!-- 尾部开始 -->
        <iframe src="../../component/foot.html" width=100% height=300px marginwidth=0 marginheight=0 frameborder="0"
            scrolling="no" style="margin-top: 50px;">
            <a>你的浏览器不支持iframe页面嵌套，请点击这里访问页面内容。</a>
        </iframe>
        <!-- 尾部结束 -->

    </div>
    <script src="../../js/jquery-3.6.0.js"></script>
    <script src="../../js/manages.js"></script>
    <script src="../../js/login-res.js"></script>
    <script>
        var categoryList = {};
        var pageNo = 1; //默认第一页
        var pageSize = 3; //默认分页2
        var sortType = 0; //默认排序查询
        var categoryId = 1;//默认按分类一个去查询 0表示全部查询
        window.onload = function () {
            loadCategories(); // 在页面加载时加载全部课程分类
            search(pageNo); // 在页面加载时查询全部课程
        };

        // 查询全部课程分类
        function loadCategories() {
            $.ajax({
                url: 'LhMooc/categoryServlet',
                type: 'get',
                data: {
                    action: "getAll"
                },
                dataType: "JSON",
                success: function (res) {
                    if (res.code === 200) {
                        categoryList = res.data;
                        console.log("categoryList", categoryList);
                        fillCategorySelects();
                    } else {
                        alert(res.msg);
                    }
                },
                error: function (err) {
                    console.log('error', err);
                },
            });
        }

        // 填充课程分类
        function fillCategorySelects() {
            var filterClass = $("#filter-class");
            filterClass.empty(); // 清除原来的内容

            // 添加新的类别按钮
            filterClass.append('<span><h4>类别</h4></span>');

            // 添加默认选项
            var defaultCategoryButton = $('<input type="button" class="category-button active" value="全部">');
            defaultCategoryButton.data("category-id", 0); // 使用 0 代表默认选项
            filterClass.append(defaultCategoryButton);

            $.each(categoryList, function (index, category) {
                var button = $('<input type="button" class="category-button" value="' + category.categoryname + '">');
                button.data("category-id", category.categoryid); // 使用 data() 方法来存储 categoryid
                filterClass.append(button);
            });

            // 添加点击事件监听器
            $(".category-button").click(function () {
                categoryId = $(this).data("category-id"); // 获取存储的 categoryid
                console.log("   我点击了按钮，categoryId为：", categoryId)
                // 处理点击事件
                search();

                // 移除其他按钮的激活样式
                $(".category-button").removeClass("active");
                // 添加当前点击按钮的激活样式
                $(this).addClass("active");
            });
        }

        // 组合查询课程
        function search(pageNo) {
            $.ajax({
                url: 'LhMooc/courseServlet',
                type: 'get',
                data: {
                    action: "pageAndByCategory",
                    sortType: sortType,
                    pageNo: pageNo,
                    pageSize: pageSize,
                    categoryId: categoryId // 发送所选的分类 ID 0表示查询全部
                },
                dataType: "JSON",
                success: function (res) {
                    if (res.code === 200) {
                        var data = res.data;
                        console.log("data", data)
                        displayCourseList(data.items); // 展示课程列表
                        updatePagination(data.pageNo, data.pageTotalCount, data.totalRow);
                    } else {
                        alert(res.msg);
                    }
                },
                error: function (err) {
                    console.log('error', err);
                },
            });
        }

        // 展示课程列表
        function displayCourseList(data) {
            var courseListContainer = $("#course-list");
            courseListContainer.empty(); // 清空课程列表
            // 遍历课程数据并填充到页面中
            $.each(data, function (index, course) {
                var courseItem = $('<div class="course" onclick="showCourseDetail(' + course.courseid + ')">');
                courseItem.append('<img class="course-photo" src="../../' + course.imgurl + '">');
                var courseDetails = $('<ul class="course-details">');
                courseDetails.append('<li><h4>' + course.coursename + '</h4></li>');
                courseDetails.append('<li>' + course.profile + '</li>');
                courseDetails.append('<li class="videostatus">' +
                    '<span><i class="icon icon-user"></i>收藏数' + course.followCount + '</span>' +
                    '<span><i class="icon icon-fuwu"></i>点赞数' + course.likeCount + '</span>' +
                    '<span><i class="icon icon-notice"></i>评论数' + course.commentCount + '</span>' +
                    '<i class="icon icon-shijian"></i>' +
                    '<input type="text" value="' + formatDate(course.createtime) + '" readonly>' +
                    '</li>');
                courseItem.append(courseDetails);
                courseListContainer.append(courseItem);
            });
        }

        //跳转到课程详情页面
        function showCourseDetail(courseid) {
            window.location.href = "courseDetail.html?courseid=" + courseid;
        }

        // 将日期字符串转换为指定格式（YYYY/MM/DD HH:MM:SS）
        function formatDate(dateString) {
            var date = new Date(dateString);
            var year = date.getFullYear();
            var month = ('0' + (date.getMonth() + 1)).slice(-2); // 月份从0开始，需要加1，并确保两位数
            var day = ('0' + date.getDate()).slice(-2); // 确保两位数的日期
            var hours = ('0' + date.getHours()).slice(-2); // 确保两位数的小时
            var minutes = ('0' + date.getMinutes()).slice(-2); // 确保两位数的分钟
            var seconds = ('0' + date.getSeconds()).slice(-2); // 确保两位数的秒钟
            return year + '/' + month + '/' + day + ' ' + hours + ':' + minutes + ':' + seconds;
        }

        // 根据排序类型查询课程
        function searchBySortType(type) {
            sortType = type; // 更新排序类型
            search(); // 传递当前选定的分类 categoryId
        }

        // 改变排序按钮样式
        function changeSortButtonStyle(button) {
            // 移除其他按钮的激活样式
            $("#filter-sort input").removeClass("active");
            // 添加当前点击按钮的激活样式
            $(button).addClass("active");
        }
    </script>
</body>

</html>